body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 50px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}


.transaction {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.transaction:last-child {
    border-bottom: none;
}

.transaction h3 {
    margin: 0;
    font-size: 1.2em;
}

.transaction p {
    margin: 5px 0;
}
